*{
    margin: 0;
    padding: 0;
}
#main{
    margin: 0;
    height: 100vh;
}
#mainbody{
    background-color: rgb(232, 229, 229);
    height: 100vh;
}
#body{
    display: flex;
    width : 80%;
    padding : 0px 10%;
    background-color: rgb(232, 229, 229);
}
